.ball-input {
    margin-right: 24px !important;
    margin-bottom: 24px !important;
}

.ball-label {
    margin-right: 24px !important;
}

.no-padding {
    padding: 0 !important;
    margin: 0 !important;
}